.header {
	height: 700px;
    background-image: linear-gradient(rgba(14, 11, 18, 0.9), rgba(14, 11, 18, 0.9)), url("../img/bg/bg-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.navigation {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding-top: 10px;
	color: #FFF;
}
.menu-block {
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	img {
		margin-right: 10px;
	}
}
.menu-block__logo {
	display: flex;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;
	padding-right: 20px;
	border-right: 2px solid #fff;
}
.menu-block__logo-name {
	font-weight: 900;
	font-size: 18px;
}
a {
	color: #FFF;
	&:hover {
		text-decoration: none;
		color: @red;
	}
}
.menu-block__nav {
	padding-left: 25px;
	font-size: 16px;
	font-weight: 900;
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			margin: 0;
			padding: 0;
			margin-right: 13px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.appointment {
	margin: auto 0;
}
.appointment__email {
	margin-right: 19px;
	img {
		width: 28px;
		height: 28px;
		margin-right: 8px;
	}
	&:hover {
		text-decoration: none;
	}
}
.appointment__phone {
	margin-right: 30px;
	img {
		width: 28px;
		height: 28px;
		margin-right: 8px;
	}
	&:hover {
		text-decoration: none;
	}
}
.appointment__btn {
	display: inline-block;
	padding: 9px 25px 11px;
	background-color: #ff0000;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	&:hover {
		background-color: #fff;
		color: #ff0000;
		text-decoration: none;
	}
}